nav {
  display: flex;
  gap: 0.5rem;
}

a {
  flex: 1;
  background-color: #333333;
  color: white;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: white;
  color: #333333;
}

.animate {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  /* transition: all 0.5s ease-in-out; */
  box-shadow: 0 0 0 0 rgba(white, 0.5);
  transition: box-shadow 150ms ease-out;
  &:focus {
    box-shadow: 0 0 0 8px rgba(white, 0.5);
  }
}

.ripple {
  background-color: pink;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-100%) translateY(-100%);
  mix-blend-mode: screen;
  animation:
    ripple 1250ms ease-out forwards,
    fade 1500ms ease-out forwards;
}

@keyframes ripple {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-100%, -100%) scale(50);
  }
  100% {
    transform: translate(-100%, -100%) scale(50);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
